* {
    font-family: "Segoe UI", sans-serif;
    font-size: 12pt;
  }
  
  body {
    background: #2c5c25;
    color: #fff;
    margin: 0 auto;
    /* width: 768px; */
  }

  a {
    color: #ddd;
    text-decoration: none;
  }
  
  ::-webkit-scrollbar {
    background: #222;
    height: 8px;
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #444;
  }